<h2>Registracija kluba</h2>

<form class="form-horizontal" method="post">
    <div class="form-group">
        <label>Ime:</label>
        <input type="text" class="form-control" name="ImeKlub" required>
    </div>
    <div class="form-group">
        <label>Kratica:</label>
        <input type="text" class="form-control" name="KraticaKlub" required>
    </div>

    <button type="submit" class="btn btn-default">Spremi</button>
</form>

