@model IEnumerable<PrikupljanjePodataka.DTO.SelectDTO>
@{
    ViewBag.Title = "Posada -  Regata";
}

<h2>Odaberite regatu</h2>

<div class="list-group">
    @foreach (var item in Model)
    {
        @Html.ActionLink(item.Value, "PosadaKategorija", "Utrke", new { id = item.Id }, new { @class = "list-group-item list-group-item-action" })
    }
</div>


