@model IEnumerable<PrikupljanjePodataka.DTO.SelectDTO>
@{
    ViewBag.Title = "Posada - Kategorija";
}

<h2>Odaberite kategoriju</h2>



<div class="list-group">
    @foreach (var item in Model)
    {
        @Html.ActionLink(item.Value, "PosadaUtrka", "Utrke", new { id = item.Id }, new { @class = "list-group-item list-group-item-action" })
    }
</div>

