<h2>Registriranje veslača</h2>

<form class="form-horizontal" method="post">
    <div class="form-group">
        <label>Ime:</label>
        <input type="text" class="form-control" name="Ime" required>
    </div>
    <div class="form-group">
        <label>Prezime:</label>
        <input type="text" class="form-control" name="Prezime" required>
    </div>
    <div class="form-group">
        <label>OIB:</label>
        <input type="text" class="form-control" name="Oib" required>
    </div>
    <div class="form-group">
        <label>Datum Rođenja:</label>
        <input type="date" class="form-control" name="DatumRodjenja" value="1998-01-01" required>
    </div>

    <button type="submit" class="btn btn-default">Spremi</button>
</form>